<div class="main-content">
    <a href="#main" class="skip-main">Skip to main content</a>
    <div class="btn">
        <button aria-label="increase text size" (click)="increaseText()">Text +</button>
        <button aria-label="decrease text size" (click)="decreaseText()">Text -</button>
    </div>
    <form aria-label="login form" id="form" class="main align-items-center text-center">
        <a href="" aria-label="login form" class="heading text">Login Form</a>
        <div class="row "  id="formdata">
            <div class="col">    
                <label class="text" id="username">UserName</label>
                <input type="email" class="form-control"  placeholder="Please Enter Your UserName">
            </div>
            <div class="col-lg-12 mt-5">
                <label class="text">Password</label>
                <input type="password" id="inputPassword6" class="form-control" placeholder="Please Enter Your Password">
            </div>
          </div>
        <div class="mb-3 forgot-pass mt-5">
            <a href="#" aria-label="if you forgot your password click here" class="text">Forgot Password</a>
        </div>
        <div class="login">
                <button type="button" class="login-btn" aria-label="login">Login</button>
        </div>
      </form>
</div>