
.box {
    max-width: 400px;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #fca71e;
    text-align: center;
  } 
  p {
    margin: 0;
    padding: 10px;
    font-size: 10px;
    font-weight: 200;
    color: #fca71e;
  }
  
  
  button {
    border-color: transparent;
    background-color: #fca71e;
    color: #fff;
    font-size: 30px;
    padding-bottom: 5px;
    border-width: 0;
    margin-left:130px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 390px;
    margin: 5px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #fca71e;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
 
  .signup{
    text-align: center;
    font-size: 15px;
  }
  .signup a{
    text-decoration: none;
  }

  .alert{
    margin-left: 10px;
    margin-right:10px ;
  }